@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }


}

.text1HomePage {
  /* LERNAEAN HYDRA */

  position: absolute;
  width: 329px;
  height: 48px;
  left: 549px;
  top: 763px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;

  color: #FFFFFF;


}

.containner {
  display: flex;
  max-width: 1440px;
  height: 1024px;
  border: 1px solid red;
  background-image: url(./assets/night.png);
  text-align: center;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: center;

}

.could {

  width: 1818.7px;
  height: 779.04px;
  left: -203px;
  top: 488px;
}


.dragonImg {
  /* มังกรมืด */
  position: absolute;
  width: 1440px;
  height: auto;




  top: 152px;
}

.buttonStart {
  /* Rectangle 2 */
  position: absolute;
  width: 308px;
  height: 124px;
  left: 585px;
  top: 852px;

  border-radius: 20px;


  background: #DF4440;
  border-radius: 20px;
}

.buttontextStart {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 26.61%;
  bottom: 26.61%;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.ntSky {
  position: absolute;
  width: 1440px;
  height: 1050px;
  left: 0px;
  background-image: url(./assets/night.png);
  background-size: auto;
  background-repeat: no-repeat;
  overflow-y: hidden;

}

.stars {
  position: absolute;
  animation: stars 50s linear infinite;
  position: absolute;
  width: 500%;
  height: 553px;
  top: 133px;
  background-image: url(./assets/stars.png);
  background-size: 1300px;
  left: -2000px;
  background-repeat: repeat-x
}

.CLay1 {
  position: absolute;
  background-image: url(./assets/could/CLay1.png);
  height: 553px;
  top: 133px;
}


.moon {
  position: absolute;
  width: 384px;
  height: 285px;
  left: 984px;
  top: 141px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#c1 {
  position: absolute;
  width: 1152.7px;
  height: 576.04px;
  left: 463px;
  top: 591px;
}

#c2 {
  position: absolute;
  width: 936.28px;
  height: 332.94px;
  left: 591px;
  top: 673px;
}

#c3 {
  position: absolute;
  width: 821.48px;
  height: 437.94px;
  left: 743px;
  top: 543.96px;
}

#c4 {
  position: absolute;
  width: 443px;
  height: 344.98px;
  left: -69px;
  top: 872px;
}

#c5 {
  position: absolute;
  width: 693px;
  height: 387.98px;
  left: -133px;
  top: 729px;
}

#c6 {
  position: absolute;
  width: 855.27px;
  height: 471.02px;
  left: -203px;
  top: 535px;
}

#c7 {
  position: absolute;
  width: 917.24px;
  height: 331.27px;
  left: -97px;
  top: 488px;
}



.CLay1 {
  position: absolute;
  width: 700px;
  height: auto;
  scale: 500px;
  left: -69px;
  top: 772px;






}

.CLay3 {
  position: absolute;

}

.CLay4 {
  position: absolute;


}

img.could {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

img.could {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}


html,
body {
  max-width: 100%;
  overflow-x: hidden;
}


@keyframes stars {
  100% {
    transform: translateX(2000px);
  }
}