@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.homePage {
    position: absolute;
    display: flex;
    max-width: 1440px;
    height: 1024px;
    text-align: center;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;
}

.text1HomePage {
    /* LERNAEAN HYDRA */
    position: absolute;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    bottom: 225px;

    color: #FFFFFF;


}



.night {
    position: relative;
    display: flex;
    max-width: 1440px;
    height: 1024px;
    background-image: url(./assets/night.png);
    text-align: center;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;

}


.could {

    width: 1818.7px;
    height: 779.04px;
    left: -203px;
    top: 488px;
}




.dragonImg {
    /* มังกรมืด */
    position: absolute;
    display: flex;
    width: 1440px;
    height: 1105px;
    background-position: 50% 60%;
    background-image: url(./assets/dargonImg1.png);
    background-size: 1440px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: flex-end;

}


.buttonStart {
    /* Rectangle 2 */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 308px;
    height: 124px;
    bottom: 50px;


    border-radius: 20px;


    background: #DF4440;
    border-radius: 20px;
}

.buttontextStart {
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    width: auto;
    height: auto;
    font-size: 48px;
    /* identical to box height */
    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.ntSky {
    position: relative;
    width: 1440px;
    height: 1050px;
    left: 0px;
    background-image: url(./assets/night.png);
    background-size: auto;
    background-repeat: no-repeat;
    overflow-y: hidden;

}

.stars {
    position: absolute;
    animation: stars 50s linear infinite;
    width: 500%;
    height: 553px;
    top: 133px;
    background-image: url(./assets/stars.png);
    background-size: 1300px;
    left: -2000px;
    background-repeat: repeat-x
}



.moon {
    position: absolute;
    width: 384px;
    height: 285px;
    left: 984px;
    top: 141px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}






html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

nav {
    /* Rectangle 1 */
    position: fixed;
    width: 1440px;
    height: 124px;
    justify-content: center;
    background: #1958A7;

}

.logo a {
    /* GREEK MYTHOLOGY */
    position: absolute;
    left: 37px;
    right: 1226px;
    top: 23px;
    bottom: 23px;
    width: 177px;
    height: 78px;

    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FFE62F;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;

}

.logo2 a {
    /* GREEK MYTHOLOGY */

    position: absolute;
    left: 37px;
    right: 1226px;
    top: 70px;
    bottom: 23px;
    width: 177px;
    height: 78px;
    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #FF26C2;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

li {
    /* MYTHICAL DRAGONS */

    position: relative;
    left: 90vh;
    padding: 0px 64px;
    list-style: none;
    text-align: center;


}

li a {

    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-decoration: none;

    color: #FFE62F;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

ul {
    display: flex;
    flex-wrap: nowrap;
}


/* ตอนเช้า */
.morning {
    position: relative;
    display: flex;
    max-width: 1440px;
    height: 1024px;
    background-position: 50% -70%;
    background-image: url(./assets/morning/morning.png);
    background-size: cover;
    text-align: center;
    margin: 0 auto;
    align-items: flex-end;
    justify-content: center;

}

.bird {
    position: absolute;
    width: 333px;
    height: 225px;
    left: 0px;
    top: 230px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sunlight {
    position: absolute;
    width: 568px;
    height: 534px;
    left: 438px;
    top: 188px;

    background: rgba(255, 230, 47, 0.67);
    background-blend-mode: multiply;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: blur(120px);
}

.fireright {
    position: absolute;
    width: 328px;
    height: 168px;
    left: 992px;
    top: 296px;


    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.fireleft {
    position: absolute;
    width: 328px;
    height: 168px;
    left: 40px;
    top: 548px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.stone {
    position: absolute;
    width: 456.09px;
    height: 226.64px;
    left: 296.47px;
    top: 847px;
    transform: rotate(3.91deg);
}

img.could,
img.bird {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.could,
img.bird {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.fireleft,
img.fireright {
    -webkit-animation: mover2 2s infinite alternate;
    animation: mover2 2s infinite alternate;
}

img.fireleft,
img.fireright {
    -webkit-animation: mover2 2s infinite alternate;
    animation: mover2 2s infinite alternate;
}

.stone1 {
    position: absolute;
    width: 456.09px;
    height: auto;
    left: 255.47px;
    top: 852px;
}

.stone2 {
    position: absolute;
    width: 456.09px;
    height: auto;
    left: 420px;
    top: 915px;
}

@keyframes stars {
    100% {
        transform: translateX(2000px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@webkit-keyframes mover2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes mover2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
    }
}