
.Swipe{
  width: 45%;
  position: absolute;
  width: 590px;
  height: 384px;
  right: 20px;
  top: 325px;

  font-family: 'Irish Grover';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 10px;

  color: #000000;
}
  