
.bg{
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;

}

.LERNAEANHYDRA {
    /*LERNAEANHYDRA*/
    position: absolute;
    left: 2%;
    top: 25%;

    font-family: 'Irish Grover', cursive;
    font-style: normal;
    font-size: 50px;
    text-align: center;

    color: #DF4440;
}

.thai1 {
    /* ลักษณะและอิทธิฤทธิ์ของไฮดรา */
    position: absolute;
    left: 2%;
    top: 35%;

    font-family: 'Irish Grover';
    font-weight: 400;
    font-size: 35px;
    line-height: 58px;
    /* identical to box height */
    text-align: center;
    color: #1958A7;

}

.bookright {
    position: absolute;
    width: auto;
    height: auto;
    right: 0%;
    top: 13%;
    width: 80% ;
    height: 100%;

}

.dragon1 {
    position: absolute;
    left: 0%;
    top: 20%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 70% ;
    height: 100%;
}

.textdragon1 {

    position: absolute;
    width: 28%;
    height: 548px;
    right: 26%;
    top: 45%;


    font-family: 'Irish Grover';

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #000000;


}

.dragonblack {
    position: absolute;

    right: 0%;
    top: 30%;
    width: 50% ;
    height: 65%;
}

.white {
    position: absolute;
    right: 0%;
    top: 63%;
    width: 80%; 
    height: 105%;

}

.dragon2 {
    position: absolute;
    right: 0%;
    top: 70%;
    width: 65% ;
    height: 101%;
}

.thai2 {
    position: absolute;
    width: 464px;
    height: 58px;
    right: 4%;
    top: 138%;

    font-family: 'Noto Sans Thai', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #1958A7;

}

.bookleft {
    position: absolute;
    width: auto;
    height: auto;
    left: 0%;
    top: 70%;
    width: 80% ;
    height: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.textdragon2 {
    position: absolute;
    width: 26%;
    height: 638px;
    left: 28%;
    top: 150%;

    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;

    color: #000000;

}

.dragonblack2 {
    position: absolute;
    left: 0%;
    top: 105%;
    width: 50% ;
    height: 65%;

}

.thai3 {
    /* กลุ่มดาวงูไฮดรา */


    position: absolute;
    width: 390px;
    height: 58px;
    left: 35%;
    top: 265%;

    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.stone {
    position: absolute;

    left: 1%;
    top: 127%;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 98%;
    height: 117%;
}

.textstone {
    position: absolute;
    width: 52%;
    height: 290px;
    left: 25%;
    top:297%;

    font-family: 'Irish Grover';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    line-height: 40px;
    color: #000000;
}

.star {
    position: absolute;
    width: 589px;
    height: 409px;
    left: 18%;
    top: 202%;

    /* background: url(S__2695170.jpg); */
    border-radius: 20px;
    width:65%;
    height:70%;
}

.dragon3 {
    position: absolute;
    left: 17%;
    top: 200%;
    z-index: 10;
    width: 72%;
    height: 100%;
}

.wave {
    position: absolute;

    left: 0%;
    top: 258%;
    width:70.7%;
    height:71.7%;

}

.wave1 {
    position: absolute;
    right: 0%;
    top: 258%;
    width:70.7%;
    height:71.7%;
}

.animated{
    width: 400px;
    height: 221px;
    background-position: center;
    background-size: cover;
  }
  
  /* Fade in left */
  .fadeInLeft{
     background: url();
    -webkit-animation: fadeInLeft 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInLeft 1.2s both; /* Fx 5+ */
    -o-animation: fadeInLeft 1.2s both; /* Opera 12+ */
    animation: fadeInLeft 1.2s both; /* IE 10+, Fx 29+ */
  } 
  
  /* Safari 4+ */
  @-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }
  
  /* Fx 5+ */
  @-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
  }
  
  /* Opera 12+ */
  @-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
  }
  
  /* IE 10+, Fx 29+ */
  @keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }
  
  
  /* Fade in top */
  .fadeInTop {
     background-image: url(https://images.pexels.com/photos/414102/pexels-photo-414102.jpeg?cs=srgb&dl=pexels-pixabay-414102.jpg&fm=jpg);
    -webkit-animation: fadeInTop 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInTop 1.2s both; /* Fx 5+ */
    -o-animation: fadeInTop 1.2s both; /* Opera 12+ */
    animation: fadeInTop 1.2s both; /* IE 10+, Fx 29+ */
  } 
  
  @-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
  }
  
  @-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
  }
  
  @-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
  }
  
  @keyframes fadeInTop{
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Fade in right */
  .fadeInRight {
     background-image: url(https://images.pexels.com/photos/753325/pexels-photo-753325.jpeg?cs=srgb&dl=pexels-julius-silver-753325.jpg&fm=jpg);
    -webkit-animation: fadeInRight 1.2s both; /* Safari 4+ */
    -moz-animation: fadeInRight 1.2s both; /* Fx 5+ */
    -o-animation: fadeInRight 1.2s both; /* Opera 12+ */
    animation: fadeInRight 1.2s both; /* IE 10+, Fx 29+ */
  } 
  
  @-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
  }
  
  @-moz-keyframes fadeInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
  }
  
  @-o-keyframes fadeInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(50px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
  }